:root {
    --font-size-7: 7px;
    --font-size-8: 8px;
    --font-size-9: 9px;
    --font-size-10: 10px;
    --font-size-11: 11px;
    --font-size-12: 12px;
    --font-size-13: 13px;
    --font-size-14: 14px;
    --font-size-15: 15px;
    --font-size-16: 16px;
    --font-size-17: 17px;
    --font-size-18: 18px;
    --font-size-19: 19px;
    --font-size-20: 20px;
    --font-size-21: 21px;
    --font-size-22: 22px;
    --font-size-23: 23px;
    --font-size-24: 24px;
    --font-size-25: 25px;
    --font-size-26: 26px;
    --font-size-27: 27px;
    --font-size-28: 28px;
    --font-size-29: 29px;
    --font-size-30: 30px;

    --font-weight-100: 100;
    --font-weight-200: 200;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --font-weight-900: 900;
}

/*-- font size --*/
@mixin font-size($size) {
    font-size: var(--font-size-#{$size});
}

@for $i from 7 through 30 {
    .f-#{$i} {
        @include font-size($i);
    }
}

/*-- font weight --*/
@mixin font-weight($size) {
    font-weight: var(--font-weight-#{$size});
}

@for $i from 100 through 900 {
    .fw-#{$i} {
        @include font-weight($i);
    }
}

.mx-0 {
    margin-left: 0;
    margin-right: 0;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.ml-0 {
    margin-left: 0;
}

.mr-0 {
    margin-right: 0;
}